body {
    background-color: #160f1e;
}

.navbar {
    background-color: #040307;
    border: none;
    box-shadow: 0px 20px 60px #040307;
}

.main {
    color: #fcfff2;
}

.navbar .active {
    font-weight: bold;
}

.navbar a {
    color: #fcfff2 !important;
}